@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #3b4252;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.grid-card {
  grid-template-columns: 1fr min-content;
  grid-template-rows: 1fr min-content;
}

* {
  color: #d8dee9;
  box-sizing: border-box;
}
